/simcraft
engine/simcraft
/*.d
/Debug
simcraft_cache.dat
/Darkwood_T7.simcraft
/Gear_T7_Darkwood.simcraft
/Rogue_T7_Darkwood_Assassination.simcraft
/Rogue_T7_Darkwood_Combat.simcraft
/simcraft.ncb
/simcraft.suo
/simcraft.vcproj.RWDIGROUP.mb.user
/Rogue_T7_Darkwood_Assassination.html
/Rogue_T7_Darkwood_Assassination.txt
/simcraft.exe
/url_cache.dat
/*.o
engine/*.o
*.a
engine/*.a
/build
simcraft_history.dat
results.html
simcraft_log.txt
simcraft_report.html
.DS_Store
simcraftqt.app
simcraftqt.dmg
