/simc
engine/simc
/*.d
/Debug
simc_cache.dat
/Darkwood_T7.simc
/Gear_T7_Darkwood.simc
/Rogue_T7_Darkwood_Assassination.simc
/Rogue_T7_Darkwood_Combat.simc
/simc.ncb
/simc.suo
/simc.vcproj.RWDIGROUP.mb.user
/Rogue_T7_Darkwood_Assassination.html
/Rogue_T7_Darkwood_Assassination.txt
/simc.exe
/url_cache.dat
/*.o
engine/*.o
*.a
engine/*.a
/build
simc_history.dat
results.html
simc_log.txt
simc_report.html
.DS_Store
simcqt.app
simcqt.dmg
