engine/dbc/generated/* linguist-vendored
dbc_extract/cache/* linguist-vendored
vs/msinttypes/* linguist-vendored
engine/util/rapidjson/* linguist-vendored
engine/util/rapidxml/* linguist-vendored
engine/util/utf8.h linguist-vendored
engine/util/utf8/* linguist-vendored
locale/*.qm linguist-vendored