*.[ado]
*.csv
*.dat
*.dll
*.exe
*.ncb
*.sdf
*.suo
/simc
engine/simc
/build
results.html
simc_gui.simc
simc_log.txt
simc_report.html
simc_report.xml
.DS_Store
*.[Dd]ebug
*.[Rr]elease
[Rr]elease
[Dd]ebug
moc_*.cpp
simcqt.app
simcqt.dmg
SimulationCraft.app
*/project.xcworkspace
*/xcuserdata
.svn
chardev.cookies
ipch
*.pro.user.*
simc_http_log.txt
log.txt
bin
int
.project
.externalToolBuilders
.settings
engine/simc_x64
.cproject
Makefile
simcqt.pro.user
nppBackup
