/*
 * Reset borders, margins and padding on all elements
 */

* {
	border: none;
	margin: 0;
	padding: 0;
}


/*
 * Standard elements
 */

body {
	padding: 5px 25px 25px 25px;
	font-family: "Lucida Grande", Arial, sans-serif;
	font-size: 14px;
	background: #333; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#222222'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#222)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #444,  #222); /* for firefox 3.6+ */
	color: #FFF;
	text-align: center;
}

p {
	margin-top: 1em;
}

h1, h2, h3, h4, h5, h6 {
	color: #FDD017;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

h1, h2 {
	margin: 0;
	padding: 2px 2px 0 2px;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 18px;
}

h3 {
	margin: 0 0 4px 0;
	font-size: 16px;
}

a {
	color: #FDD017;
	text-decoration: none;
}

a:hover, a:active {
	color: #333;
}

ul, ol {
	padding-left: 20px;
}

ul.float, ol.float {
	padding: 0;
}

ul.float li, ol.float li {
	display: inline;
	float: left;
	padding-right: 6px;
	margin-right: 6px;
	list-style-type: none;
	border-right: 2px solid #eee;
}

.spaced li {
	margin-top: 1em;
}


/*
 * Global classes
 */

.clear {
	clear: both;
}

.hide, .charts span {
	display: none;
}

.center {
	text-align: center;
}

.float {
	float: left;
}

.mt {
	margin-top: 20px;
}

.mb {
	margin-bottom: 20px;
}


/*
 * Styles for jQuery toggles
 */

.toggle {
	cursor: pointer;
}

.toggle-content {
	display: none;
}

h2.toggle {
	padding-left: 18px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAeCAIAAACT/LgdAAAABGdBTUEAANbY1E9YMgAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAFaSURBVHjaYoz24a9N51aVZ2PADT5//VPS+5WRk51RVZ55STu/tjILVnV//jLEVn1cv/cHMzsb45OX/+48/muizSoiyISm7vvP/yn1n1bs+AE0kYGbkxEiaqDOcn+HyN8L4nD09aRYhCcHRBakDK4UCKwNWM+sEIao+34aoQ6LUiCwMWR9sEMETR12pUBgqs0a5MKOJohdKVYAVMbEQDQYVUq6UhlxZmACIBwNQNJCj/XVQVFjLVbCsfXrN4MwP9O6fn4jTVai3Ap0xtp+fhMcZqN7S06CeU0fPzBxERUCshLM6ycKmOmwEhVYkiJMa/oE0HyJM1zffvj38u0/wkq3H/kZU/nxycu/yIJY8v65678LOj8DszsBt+4+/iuo8COmOnSlh87+Ku///PjFXwIRe2qZkKggE56IZebnZfn56x8nO9P5m/+u3vkNLHBYWdARExMjNxczQIABACK8cxwggQ+oAAAAAElFTkSuQmCC) 0 -10px no-repeat;
}

h2.open {
	margin-bottom: 10px;
	background-position: 0 9px;
}

h3.toggle {
	padding-left: 16px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAaCAIAAAAMmCo2AAAABGdBTUEAANbY1E9YMgAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAEfSURBVHjazJPLjkRAGIXbdSM8ACISvWeDNRYeGuteuL2EdMSGWLrOmdExaCO9nLOq+vPV+S9VRTwej6IoGIYhCOK21zzPfd/f73da07TiRxRFbTkQ4zjKsqyqKoFN27ZhGD6fT5ZlV2IYBkVRXNflOI5ESBAEz/NEUYT5lnAcBwQi307L6aZpoiiqqgprSZJwbCF2EFTXdRAENE37vr8SR2jhAPE8vw0eoVORtw/0j6Fpmi7afEFlWeZ5jhu9grqui+M4SZIrCO8Eg86y7JT7LXx5TODSNL3qDhw6eOeOIyBJEuUj6ZY7mRNmAUvQa4Q+EEiHJizLMgzj3AkeMLBte0vsoCULPHRd//NaUK9pmu/EywDCv0M7+CTzmb4EGADS4Lwj+N6gZgAAAABJRU5ErkJggg==) 0 -11px no-repeat;
}

h3.open {
	background-position: 0 7px;
}

h4.toggle {
	margin: 0 0 8px 0;
	padding-left: 12px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAVCAIAAADw0OikAAAABGdBTUEAANbY1E9YMgAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAD8SURBVHjavJHLjkRAGIUbRaxd3oAQ8QouifDSFmysPICNIBZ2EhuJuM6ZMdFR3T3LOYtKqk79/3/qKybLsrZteZ5/3DXPs67rxLbtvu+bprluHMexrqumaZZlMdhM05SmaVVVhBBst20zDMN1XRR822erJEnKsmQYxjRNz/M4jsM5ORsKguD7/r7vqHAc5/Sg3+orDsuyGHGd3OxXsY8/9R92XdfjOH60i6IAODzsvQ0sgApw1I0nAZACVGAAPlEU6WigDaLoEcfxleNN8mEY8Id0c2hZFlmWgyDASlefXhiGqqrS0eApihJFkSRJt0nHj/I877rueNGXAAMAKcaTc/aCM/4AAAAASUVORK5CYII=) 0 -8px no-repeat;
}

h4.open {
	background-position: 0 6px;
}

a.toggle-details {
	margin: 0 0 8px 0;
	padding-left: 12px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAXCAYAAADZTWX7AAAABGdBTUEAANbY1E9YMgAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAADiSURBVHjaYvz//z/DrFmzGBkYGLqBeG5aWtp1BjTACFIEAkCFZ4AUNxC7ARU+RlbEhMT+BMQaQLwOqEESlyIYMIEqlMenCAQsgLiakKILQNwF47AgSfyH0leA2B/o+EfYTOID4gdA7IusAK4IGk7ngNgPqOABut3I1uUDFfzA5kB4YOIDTAxEgOGtiAUY2vlA2hCIf2KRZwXie6AQPwzEFUAsgUURSGMQEzAqQHFmB8R30BS8BWJXoPw2sJuAjNug2Afi+1AFH4A4DCh+GMXhQIEboHQExKeAOAbI3weTAwgwAIZTQ9CyDvuYAAAAAElFTkSuQmCC) 0 4px no-repeat;
}

a.open {
	background-position: 0 -11px;
}

 td.small a.toggle-details {
	background-position: 0 2px;
}

td.small a.open {
	background-position: 0 -13px;
}


/*
 * Help boxes
 */

#active-help, .help-box {
	display: none;
}

#active-help {
	position: absolute;
	width: auto;
	padding: 3px;
	background: #fff;
	z-index: 10;
}

#active-help-dynamic {
	padding: 6px 6px 18px 6px;
	background: #eeeef5;
	outline: 1px solid #ddd;
	font-size: 13px;
	text-align: left;
}

#active-help .close {
	position: absolute;
	right: 10px;
	bottom: 4px;
}

.help-box h3 {
	margin: 0;
	font-size: 12px;
}

.help-box p {
	margin: 0 0 10px 0;
}

.help-box {
	border: 1px solid #ccc;
	background-color: #fff;
	padding: 10px;
}

a.help {
	cursor: help;
}


/*
 * Content sections
 */

.section {
	position: relative;
	max-width: 1260px;
	padding: 8px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -1px;
	border: 0;
	-moz-box-shadow: 0px 0px 8px #FDD017;
	-webkit-box-shadow: 0px 0px 8px #FDD017;
	box-shadow: 0px 0px 8px #FDD017;
	color: #FDD017;
	background-color: #000;
	text-align: left;
}

.section-open {
	margin-top: 25px;
	margin-bottom: 25px;
	-moz-border-radius: 15px;
	-khtml-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}

.grouped-first {
	-moz-border-radius-topright: 15px;
	-moz-border-radius-topleft: 15px;
	-khtml-border-top-right-radius: 15px;
	-khtml-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}

.grouped-last {
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	-khtml-border-bottom-right-radius: 15px;
	-khtml-border-bottom-left-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

.section .toggle-content {
	padding: 0 0 20px 14px;
}

#raid-summary .toggle-content {
	padding-bottom: 0px;
}

ul.params {
	padding: 0;
}

ul.params li {
	float: left;
	padding: 2px 10px 2px 10px;
	margin-right: 10px;
	list-style-type: none;
	background: #eeeef5;
	font-family: "Lucida Grande", Arial, sans-serif;
	font-size: 12px;
}

.player h2 {
	margin: 0;
}

.player ul.params {
	position: relative;
	top: 2px;
}

#masthead {
	border: 0;
	-moz-border-radius: 15px;
	-khtml-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	-moz-box-shadow: 0px 0px 8px #FDD017;
	-webkit-box-shadow: 0px 0px 8px #FDD017;
	box-shadow: 0px 0px 8px #FDD017;
	text-align: left;
	color: #FDD017;
	background-color: #000;
}

#logo {
	float: left;
	margin-right: 20px;
}

#masthead h2 {
	color: #FDD017;
	margin: 10px 0 5px 0;
}

#masthead .info {
	position: relative;
	top: 50px;
}

#masthead .info h2 {
	margin: 0 0 20px 0;
}

#masthead ul.params {
	position: relative;
	top: 3px;
	padding: 0;
}

#masthead ul.params li {
	float: left;
	padding: 2px 10px 2px 10px;
	margin-right: 10px;
	list-style-type: none;
	background: #333;
	font-family: "Lucida Grande", Arial, sans-serif;
	font-size: 12px;
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-bottom-radius: 8px;
}

#notice {
	border: 1px solid #ddbbbb;
	background: #ffdddd;
	font-size: 12px;
}

#notice h2 {
	margin-bottom: 10px;
}

#masthead ul.toc {
	padding: 0;
	width: 225px;
}

#masthead ul.toc li {
	list-style-type: none;
}

#masthead ul.toc li ul {
	padding-left: 18px;
}

#masthead ul.toc li ul li {
	list-style-type: circle;
	font-size: 13px;
}

#masthead ul.toc a {
	display: block;
	width: 100%;
	color: #FDD017;
	position: relative;
	left: -5px;
	padding: 2px 8px 2px 8px;
}

#masthead ul.toc a:hover {
	background: #333;
	font-family: "Lucida Grande", Arial, sans-serif;
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-bottom-radius: 8px;
	color: #FDD017;
}


/*
 * Charts
 */
 
.charts {
	margin: 10px 60px 0 4px;
	float: left;
	width: 550px;
	text-align: center;
}

.charts img {
	padding: 8px;
	margin: 0 auto;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: inset 1px 1px 4px #ccc;
	-webkit-box-shadow: inset 1px 1px 4px #ccc;
	box-shadow: inset 1px 1px 4px #ccc;
}


/*
 * Tables
 */
 
.talents div.float {
	width: auto;
	margin-right: 50px;
}

table.sc {
	border: 0;
	background-color: #eee;
}

table.sc tr {
	background-color: #fff;
}

table.sc tr.head {
	background-color: #aaa;
	color: #fff;
}

table.sc tr.odd {
	background-color: #f3f3f3;
}

table.sc th {
	padding: 2px 4px;
	text-align: center;
	background-color: #aaa;
	color: #fcfcfc;
}

table.sc th.small {
	padding: 2px 2px;
	font-size: 12px;
}

table.sc th a {
	color: #fff;
	text-decoration: underline;
}

table.sc th a:hover, table.sc th a:active {
	color: #f1f1ff;
}

table.sc td {
	padding: 2px 4px;
	text-align: center;
	font-size: 13px;
}

table.sc td.small {
	padding: 2px 2px;
	font-size: 11px;
}

table.sc th.left, table.sc td.left, table.sc tr.left th, table.sc tr.left td {
	text-align: left;
	padding-right: 6px;
}

table.sc th.right, table.sc td.right, table.sc tr.right th, table.sc tr.right td {
	text-align: right;
	padding-right: 6px;
}

table.sc tr.details td {
	padding: 0 0 15px 15px;
	text-align: left;
	background-color: #fff;
}

table.sc tr.details td ul {
	padding: 0;
	margin: 4px 0 8px 0;
}

table.sc tr.details td ul li {
	clear: both;
	padding: 2px;
	list-style-type: none;
}

table.sc tr.details td ul li span.label {
	display: block;
	float: left;
	width: 150px;
	margin-right: 4px;
	background: #f3f3f3;
}

table.sc tr.details td ul li span.tooltip {
	display: block;
	float: left;
	width: 190px;
}

table.sc tr.details td ul li span.tooltip-wider {
	display: block;
	float: left;
	width: 350px;
}

table.sc tr.details td div.float {
	width: 350px;
}

table.sc tr.details td div.float h5 {
	margin-top: 4px;
}

table.sc tr.details td div.float ul {
	margin: 0 0 12px 0;
}

table.sc td.filler {
	background-color: #ccc;
}

table.sc .dynamic-buffs tr.details td ul li span.label {
	width: 120px;
}

.sample-sequence {
	width: 500px;
	word-wrap: break-word;
	outline: 1px solid #ddd;
	background: #fcfcfc;
	padding: 6px;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 12px;
}

