/**
 * I'd like to thank Alexander Moore for his LGPL'ed icons
 * http://www.iconfinder.net/search/?q=package%3Anuove
 */

/* === GENERAL STYLING === */
/* Any hidden element */
.hidden {
	display: none; 
	visibility: hidden;
}

/* The overall page background */
/* Thanks to chanchan222 http://www.flickr.com/photos/chanchan222/2853664161/ Creative Commons License */
body {
	background: black url(../images/2853664161_eb5835216c_o_feathered.jpg) no-repeat fixed center top;
	padding-bottom: 5em; /* Make sure there's enough room when scrolled all the way down for the fixed footer */
}

/* Select Optgroups */
optgroup {
	padding: 0px;
	margin: 0px;
}

	optgroup option {
		margin: 0px 0px 0px 5px;
		padding: 0px;
	}

/* Any user options should pile up left to right and top to bottom */
ul.stacked_fields li {
	display: -moz-inline-box; display: inline-block;  zoom: 1; *display: inline; /* Cross-browser inline-block support */
	list-style-type: none;
	vertical-align: top;
	margin-left: 12px;
}


/* Lists where the labels should line up under the field */
ul.subscript_labels li {
	position: relative;
	white-space: nowrap;
	text-align: left;	
	margin-bottom: 1.3em;	/* Leave room for the label outside the margin, below */
	width: 14em;
	font-size: 0.875em;
	min-height: 2.5em;	
}

	/* Push the labels down below the fields */
	ul.subscript_labels li label {
		position: absolute;
		bottom: -0.5em;					/* Push the label down below the element */
		left: 0px;
		font-size: small;
		width: 5em;
		vertical-align: text-top;
	}

/* Checkboxes should be styled differently to most fields, give them a smaller margin */
ul.subscript_labels li.checkbox {
	margin-bottom: 5px;	
}

	ul.subscript_labels li.checkbox input {
		position: absolute;
		top: 0px;
		left: 0px;
	}
	
	/* And don't make checkbox labels push down below the field, allow them to stack up where they usually would */
	ul.subscript_labels li.checkbox label {
		display: -moz-inline-box; display: inline-block;  zoom: 1; *display: inline; /* Cross-browser inline-block support */
		white-space: normal;
		position: static;
		bottom: auto;
		left: auto;
		width: 13em;
		margin-left: 2em;
		padding-top: 3px;
	}


/* Foldable fieldsets get some styling */
/*fieldset.folded ul {
	display: none;
	visibility: hidden;
}*/

/*fieldset.foldable legend {
	padding-left: 25px;
	margin-bottom: 3px;
	background: url(../images/messagebox_critical.png) no-repeat 0 0;
	cursor: pointer;
}*/

/*fieldset.foldable.folded legend {
	background: url(../images/edit_add.png) no-repeat 0 0;
}*/

	/* === OPTION MENUS === */
	ul.menu {
		vertical-align: top;
	}

	/* Make sub-menus invisible at first */
	ul.menu.child_menu {
		display: none;
	}

		/* Make the list elements stack up next to each other */
		ul.menu li {
			display: inline-block;
			vertical-align: top;
			border: 1px solid gray;
			background-color: #444444;
		}
	
		/* Active menu elements */
		ul.menu li.selected {
			background-color: #FF945C;
			color: black;
		}

			/* Content strings of the menu lists */
			ul.menu li span {
				display: block;
				margin: 5px 15px;
				font-size: 0.8em;
			}

			ul.menu.child_menu li span{
				font-size: 0.7em;
			}

	/* Make the panes associated with the menus hidden by default */
	div.option_pane {
		display: none;
	}
		
		div.option_pane ul {
			margin-top: 10px;
		}



/* === ERRORS === */
div#error_report {
		position: absolute;
		z-index: 100;
		top: 20px;
		left: 50%;
		width: 1200px;
		margin-left: -600px;
		padding: 5px;
		padding-top: 22px;
		overflow: auto;
		font-size: 80%;
		white-space: pre;
		border: 1px solid red;
		background-color: #FFEEEE;
}

	div#error_report div.close_button {
		position: absolute;
		top: 2px;
		font-size: 0px;
		width: 22px;
		height: 22px;
		cursor: pointer;
		right: 2px;
		background: url(../images/button_cancel.png) no-repeat 0 0;			
	}



/* === TITLE BAR === */
div#title_bar {
	color: white;
	margin: 0px 5px 5px 0px;
	text-align: right;
}

	div#title_bar a {
		color: white;
		text-decoration: none;
	}

	div#title_bar a:hover {
		color: red;
	}

	div#title_bar h1 {
		font-size: xx-large;
		font-weight: bold;
	}

	div#title_bar p {
		font-size: small;
		font-style: italic;
	}



/* === SIDEBAR === */
/* The sidebar wrapper div */
div#sidebar {
	position: absolute;	/* Take the sidebar out of the flow model */
	text-align: center;
	margin-left: 5px;
	padding-bottom: 5em;
}

	/* Explanatory instructions */
	div#sidebar span.sidebar_caption {
		font-size: smaller;
		font-style: italic;
	}

	/* Each of the major sections of the sidebar */
	div#sidebar div.sidebar_section {
		border: 1px solid black;
		background-color: white;
		padding: 5px;
		width: 178px;
		margin-bottom: 10px;
	}

		/* The list of add-a-new-member-by-class buttons */
		div#sidebar ul#new_member_by_class {
			display: block;
			width: 158px;
			padding: 10px;
		}

			/* each of the list elements */
			div#sidebar ul#new_member_by_class li.supported_class {
				display: -moz-inline-box; display: inline-block;  zoom: 1; *display: inline; /* Cross-browser inline-block support */
				position: relative;
				margin: 0px 5px;
				cursor: pointer;
				width: 64px;
				height: 85px;
			}
	
				/* The text for each of the add-new-by-class icons */
				div#sidebar ul#new_member_by_class li.supported_class span {
					position: absolute;
					top: 64px;
					left: 0px;
					display: block;
					width: 100%;
					text-align: center;
					color: #AA0000;
					font-size: 0.7em;
				}

			/* The various class buttons */
			div#sidebar ul#new_member_by_class li.supported_class.death_knight {
				background: url(../images/UI-CharacterCreate-Classes_Deathknight.png) no-repeat 0 0;
			}

			div#sidebar ul#new_member_by_class li.supported_class.druid {
				background: url(../images/UI-CharacterCreate-Classes_Druid.png) no-repeat 0 0;
			}

			div#sidebar ul#new_member_by_class li.supported_class.hunter {
				background: url(../images/UI-CharacterCreate-Classes_Hunter.png) no-repeat 0 0;
			}

			div#sidebar ul#new_member_by_class li.supported_class.mage {
				background: url(../images/UI-CharacterCreate-Classes_Mage.png) no-repeat 0 0;
			}

			div#sidebar ul#new_member_by_class li.supported_class.paladin {
				background: url(../images/UI-CharacterCreate-Classes_Paladin.png) no-repeat 0 0;
			}

			div#sidebar ul#new_member_by_class li.supported_class.priest {
				background: url(../images/UI-CharacterCreate-Classes_Priest.png) no-repeat 0 0;
			}

			div#sidebar ul#new_member_by_class li.supported_class.rogue {
				background: url(../images/UI-CharacterCreate-Classes_Rogue.png) no-repeat 0 0;
			}

			div#sidebar ul#new_member_by_class li.supported_class.shaman {
				background: url(../images/UI-CharacterCreate-Classes_Shaman.png) no-repeat 0 0;
			}

			div#sidebar ul#new_member_by_class li.supported_class.warlock {
				background: url(../images/UI-CharacterCreate-Classes_Warlock.png) no-repeat 0 0;
			}

			div#sidebar ul#new_member_by_class li.supported_class.warrior {
				background: url(../images/UI-CharacterCreate-Classes_Warrior.png) no-repeat 0 0;
			}
	
	/* The add-a-member-by-armory-import fields */
	ul#new_member_by_armory {
		display: block;
		width: 158px;
		padding: 10px;
	}
	
		ul#new_member_by_armory li {
			width: auto;
		}
	
		/* the fields themselves */
		ul#new_member_by_armory li input, ul#new_member_by_armory li select {
			width: 158px;
		}

		/* The field labels */
		ul#new_member_by_armory li label {
			width: 100%;
			color: #AA0000;
			font-size: 0.8em;
		}	



/* === BOTTOM BAR === */
div#bottombar {
	position: fixed;
	bottom: 0px;
	width: 100%;
	z-index: 50;
	border: 1px solid black;
	border-top: 2px solid #DD5018;
	background-color: #121212;
	padding: 2px 2px 0px 2px;
	text-align: center;
	color: white;
	font-size: 0.80em;
}

	div#bottombar div.bottombar_section {
		display: -moz-inline-box; display: inline-block;  zoom: 1; *display: inline; /* Cross-browser inline-block support */
		min-height: 4.25em;
		vertical-align: top;
		border: 1px solid black;
		border-bottom: none;
		margin: 2px 2px 0px 2px;
		padding: 2px 12px 0px 12px;
		background-color: #202020;
		text-align: center;
	}

		div#bottombar div.bottombar_section h3 {
			margin-bottom: 5px;
		}

		div#bottombar div.bottombar_section ul.stacked_fields li {
			min-width: 7em;
			width: auto;
		}
		
		div#bottombar div.bottombar_section ul li label {
			font-size: 0.95em;
			bottom: -0.7em;
		}



/* === RAID COMPOSITION === */
div#config_content {
	padding-left: 208px; /*  Make room for the sidebar */
	color: white;	
}

/* Page panels are general sub-divisons of the content block (raid composition, for example) */
div#config_content div.page_panel {
	border: 1px solid black;
	background-image: url(../images/opacity.png);
	padding: 5px;
	margin-bottom: 15px;		
}

	div#config_content div.page_panel h2.page_panel {
		margin-bottom: 10px;
	}

	/* Fieldsets within a page panel (groups of options, for example) */
	div#config_content div.page_panel fieldset {
		margin-bottom: 10px;
	}
	
		div#config_content div.page_panel fieldset legend {
			 font-size: 1.2em;
			 font-weight: bold;
		}



/* === RAID MEMBERS === */
	/* Each of the raid members */
	ul#raid_members li.raider {
		position: relative;
		border: 1px solid black;
		background-color: #202020;
		padding: 30px 5px 25px 5px;	/* Leave room for the cancel button at the top (see below) */
		margin-bottom: 10px;	
	}
	
		/* The button that removes the character from the raid */
		ul#raid_members li.raider div.close_button, ul#raid_members li.raider div.clone_button {
			position: absolute;
			top: 2px;
			font-size: 0px;
			width: 22px;
			height: 22px;
			cursor: pointer;
		}
	
		ul#raid_members li.raider div.close_button {
			right: 2px;
			background: url(../images/button_cancel.png) no-repeat 0 0;			
		}
		
		ul#raid_members li.raider div.clone_button {
			right: 30px;
			background: url(../images/1240702681_reload_all_tabs.png) no-repeat 0 0;			
		}
	
		/* The character class-indicator header */
		ul#raid_members li.raider div.member_class {
			position: absolute;
			top: 0px;
			left: 0px;
			height: 22px;
			padding: 2px 1em;
			margin: 0px;
			border-right: 1px solid gray;
			border-bottom: 1px solid gray;
			background-color: #CFCFCF;
			font-weight: bold;
			width: 25em;
		}
		
		/* The character name field */
		ul#raid_members li.raider div.member_class input.field_name {
			font-weight: bold;
			text-decoration: underline;
			border: 1px solid black;
			background-color: black;
			color: inherit;
			-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
			filter: alpha(opacity=75);
			opacity: 0.75;
		}
		
		/* These colors were lifted from http://www.wowwiki.com/Class_colors */
		ul#raid_members li.raider div.member_class.death_knight {
			background-color: #9482C9;
			color: white;
		}
		
		ul#raid_members li.raider div.member_class.druid {
			background-color: #FF7D0A;
			color: white;
		}
		
		ul#raid_members li.raider div.member_class.hunter {
			background-color: #ABD473;
			color: #444444;
		}
		
		ul#raid_members li.raider div.member_class.mage {
			background-color: #69CCF0;
			color: white;
		}
		
		ul#raid_members li.raider div.member_class.paladin {
			background-color: #F58CBA;
			color: white;
		}
		
		ul#raid_members li.raider div.member_class.priest {
			background-color: #FFFFFF;
			color: #444444;
		}
		
		ul#raid_members li.raider div.member_class.rogue {
			background-color: #FFF569;
			color: #444444;
		}
		
		ul#raid_members li.raider div.member_class.shaman {
			background-color: #2459FF;
			color: white;
		}
		
		ul#raid_members li.raider div.member_class.warlock {
			background-color: #9482C9;
			color: white;
		}
		
		ul#raid_members li.raider div.member_class.warrior {
			background-color: #C79C6E;
			color: white;
		}
				
		
	/* === GLOBAL OPTIONS === */
	div#global_options_wrapper {
		border: 1px solid black;
		background-color: #202020;
		padding: 5px;
	}