Source: simulationcraft
Section: unknown
Priority: extra
Maintainer: Serge Camille <philoptik@gmail.com>
Build-Depends: cdbs, debhelper (>= 9), libqt4-dev, libqtwebkit-dev
Standards-Version: 3.9.3
Homepage: http://code.google.com/p/simulationcraft/
Vcs-Svn: http://simulationcraft.googlecode.com/svn/trunk/
Vcs-Browser: http://code.google.com/p/simulationcraft/source/browse/

Package: simulationcraft
Architecture: any
Depends:  ${shlibs:Depends}, ${misc:Depends},
Description: SimulationCraft is a tool to explore combat mechanics in the popular MMO RPG World of Warcraft (tm).
 SimulationCraft is a tool to explore combat mechanics in the popular MMO RPG World of Warcraft (tm).
 It is a multi-player event driven simulator written in C++ that models player character damage-per-second in various raiding scenarios.
 .
 Increasing class synergy and the prevalence of proc-based combat modifiers have eroded the accuracy of traditional calculators that rely upon closed-form
 approximations to model very complex mechanics. The goal of this simulator is to close the accuracy gap while maintaining a performance level high enough to
 calculate relative stat weights to aid gear
 selection.
 .
 SimulationCraft allows raid/party creation of arbitrary size, generating detailed charts and reports for both individual and raid
 performance.
 .
 A simple graphical interface is included with the tool, allowing players to download and analyze characters from the Armory. It can also be run from the 
 command-line in which case the player profiles are specified via parameter files. 
