[Desktop Entry]
Name=SimulationCraft
Comment=Simulate combat mechanics on World of Warcraft
Exec=/usr/bin/SimulationCraft
Icon=SimulationCraft
Encoding=UTF-8
Version=5.4.2
Terminal=false
Type=Application
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
Name[en_US]=simulationcraft
