<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleIconFile</key>
	<string>simc.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleGetInfoString</key>
	<string>SimulationCraft Qt for OSX (GIT-REV-PARSE-HERE)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>simcqt</string>
	<key>CFBundleIdentifier</key>
	<string>com.googlecode.simulationcraft</string>
	<key>CFBundleVersion</key>
	<key>332.3</key>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>SUEnableSystemProfiling</key>
	<true/>
</dict>
</plist>
