name: CI

on:
  pull_request:
    branches: [ dragonflight ]
  push:
    branches: [ dragonflight ]
    paths-ignore:
      - 'SpellDataDump/**'
      - 'dbc_extract3/**'
      - 'casc_extract/**'

env:
  MAIN_BRANCH: dragonflight # env is not accessible at jobs.if context so must be manually edited in ubuntu-clang-run and simc-tests
  SIMC_PROFILE: profiles/CI.simc
  CCACHE_COMPRESS: true # always enable ccache compression
  ccache-generation: 0 # bump if you need to "clean" ccache

jobs:
  ubuntu-gcc:
    name: ubuntu-${{ matrix.cc }}-C++${{ matrix.cppVersion }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        cc: [gcc-12, gcc-7]
        cppVersion: [17, 20]
        include:
          - cc: gcc-7
            cxx: g++-7
            packages: gcc-7 g++-7
            os: ubuntu-18.04
          - cc: gcc-12
            cxx: g++-12
            packages: gcc-12 g++-12
            os: ubuntu-22.04
        exclude:
          - cc: gcc-7
            cppVersion: 20   

    steps:
      - uses: actions/checkout@v3

      - uses: actions/cache@v3
        env: { ccache-prefix: 'ubuntu-${{ matrix.cc }}-cpp-${{ matrix.cppVersion }}-ccache-${{ env.ccache-generation }}' }
        with:
          path: ${{ runner.workspace }}/.ccache
          key: ${{ env.ccache-prefix }}-${{ github.sha }}
          restore-keys: ${{ env.ccache-prefix }}-

      - name: Install deps
        run: |
          sudo apt-get update
          sudo apt-get install -y libcurl4-openssl-dev ninja-build lld ccache ${{ matrix.packages }}

      - name: Configure
        run: cmake -H. -B'${{ runner.workspace }}/b/ninja' -GNinja -DBUILD_GUI=OFF
              -DCMAKE_BUILD_TYPE=Debug
              -DCMAKE_CXX_COMPILER=${{ matrix.cxx }} -DCMAKE_C_COMPILER=${{ matrix.cc }}
              -DCMAKE_EXE_LINKER_FLAGS="-fuse-ld=lld"
              -DCMAKE_CXX_COMPILER_LAUNCHER=ccache
              -DCMAKE_CXX_STANDARD=${{ matrix.cppVersion }} 

      - name: Build
        env:
          CCACHE_BASEDIR: ${{ runner.workspace }}
          CCACHE_DIR: ${{ runner.workspace }}/.ccache
          CCACHE_MAXSIZE: 192M # full build consumes around ~80, ~2x that to be safe
        run: |
          ccache -z
          ninja -C '${{ runner.workspace }}/b/ninja'
          ccache -s

      - name: Smoke Test
        if: ${{ github.ref_name == env.MAIN_BRANCH }}
        run: ${{ runner.workspace }}/b/ninja/simc $SIMC_PROFILE iterations=20
              output=/dev/null html=/dev/null json2=/dev/null

      - name: Spell Query
        if: ${{ github.ref_name == env.MAIN_BRANCH }}
        run: ${{ runner.workspace }}/b/ninja/simc spell_query=spell.name=auto_shot


  ubuntu-clang-build:
    name: ubuntu-clang-build
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        cppVersion: [17, 20]

    steps:
      - uses: actions/checkout@v3

      - uses: actions/cache@v3
        env: { ccache-prefix: 'ubuntu-clang-12-cpp-${{ matrix.cppVersion }}-ccache-${{ env.ccache-generation }}' }
        with:
          path: ${{ runner.workspace }}/.ccache
          key: ${{ env.ccache-prefix }}-${{ github.sha }}
          restore-keys: ${{ env.ccache-prefix }}-

      - name: Install deps
        run: |
          sudo apt-get update
          sudo apt-get install -y libcurl4-openssl-dev ninja-build ccache

      - name: Configure
        env:
          UBSAN_STRIP_COUNT: "`echo \"${{ runner.workspace }}//\" | grep -o '/' - | wc -l`"
        run: cmake -H. -B'${{ runner.workspace }}/b/ninja' -GNinja -DBUILD_GUI=OFF
              -DCMAKE_BUILD_TYPE=Debug
              -DCMAKE_CXX_COMPILER=clang++-12 -DCMAKE_C_COMPILER=clang-12
              -DCMAKE_CXX_FLAGS="-Og -ffile-prefix-map=${{ runner.workspace }}/=/
                -fno-omit-frame-pointer -fsanitize=address,undefined
                -fsanitize-undefined-strip-path-components=$UBSAN_STRIP_COUNT"
              -DCMAKE_EXE_LINKER_FLAGS="-fuse-ld=lld -fsanitize=address,undefined"
              -DCMAKE_CXX_STANDARD=${{ matrix.cppVersion }}
              -DCMAKE_CXX_COMPILER_LAUNCHER=ccache

      - name: Build
        env:
          CCACHE_BASEDIR: ${{ runner.workspace }}
          CCACHE_DIR: ${{ runner.workspace }}/.ccache
          CCACHE_MAXSIZE: 256M # full build consumes around ~124, ~2x that to be safe
        run: |
          ccache -z
          ninja -C '${{ runner.workspace }}/b/ninja'
          ccache -s

      - uses: actions/cache@v3
        if: ${{ github.ref_name == env.MAIN_BRANCH }}
        with:
          path: |
            ${{ runner.workspace }}/b/ninja/simc
            profiles
            tests
          key: ubuntu-clang-for_run-${{ github.sha }}-cpp-${{ matrix.cppVersion }}


  ubuntu-clang-run:
    if: ${{ github.ref_name == 'shadowlands' }}
    name: ubuntu-clang-cpp-${{ matrix.cppVersion }}-${{ matrix.type }}
    runs-on: ubuntu-20.04
    needs: [ ubuntu-clang-build ]

    strategy:
      fail-fast: false
      matrix:
        cppVersion: [17, 20]
        type: [spell_query, log_debug, patchwerk, dungeon_slice]
        include:
          - type: spell_query
            simc_flags: spell_query=spell > /dev/null
          - type: log_debug
            simc_flags: $SIMC_PROFILE log=1 debug=1 max_time=100
          - type: patchwerk
            simc_flags: $SIMC_PROFILE iterations=10 cleanup_threads=1
          - type: dungeon_slice
            simc_flags: $SIMC_PROFILE iterations=10 fight_style=DungeonSlice cleanup_threads=1

    steps:
      - uses: actions/cache@v3
        with:
          path: |
            ${{ runner.workspace }}/b/ninja/simc
            profiles
            tests
          key: ubuntu-clang-for_run-${{ github.sha }}-cpp-${{ matrix.cppVersion }}

      - name: Run
        env:
          UBSAN_OPTIONS: print_stacktrace=1
        run: ${{ runner.workspace }}/b/ninja/simc output=/dev/null html=/dev/null json2=/dev/null json3=/dev/null ${{ matrix.simc_flags }}

  simc-tests:
    # if: ${{ github.ref_name == 'shadowlands' }}
    name: test-${{ matrix.tier }}-${{ matrix.spec }}
    runs-on: ubuntu-20.04
    needs: [ ubuntu-clang-build ]

    strategy:
      fail-fast: false
      matrix:
        cppVersion: [17]
        tier: [ Tier29 ]
        spec: [
            Death_Knight_Blood, Death_Knight_Frost, Death_Knight_Unholy,
            Demon_Hunter_Havoc, Demon_Hunter_Vengeance,
            Druid_Balance, Druid_Feral, Druid_Guardian,
            Evoker_Devastation, Evoker_Preservation,
            Hunter_Beast_Mastery, Hunter_Marksmanship, Hunter_Survival,
            Mage_Arcane, Mage_Fire, Mage_Frost,
            Monk_Brewmaster, Monk_Windwalker,
            Paladin_Holy, Paladin_Protection, Paladin_Retribution,
            Priest_Discipline, Priest_Shadow,
            Rogue_Assassination, Rogue_Outlaw, Rogue_Subtlety,
            Shaman_Elemental, Shaman_Enhancement, Shaman_Restoration,
            Warlock_Affliction, Warlock_Demonology, Warlock_Destruction,
            Warrior_Arms, Warrior_Fury, Warrior_Protection,
          ]

    steps:
      - uses: actions/cache@v3
        with:
          path: |
            ${{ runner.workspace }}/b/ninja/simc
            profiles
            tests
          key: ubuntu-clang-for_run-${{ github.sha }}-cpp-${{ matrix.cppVersion }}

      - name: Install Python dependencies
        run: pip3 install -r tests/requirements.txt

      - name: Run
        env:
          UBSAN_OPTIONS: print_stacktrace=1
          SIMC_CLI_PATH: ${{ runner.workspace }}/b/ninja/simc
          SIMC_PROFILE_DIR: ${{ github.workspace }}/profiles/${{ matrix.tier }}
          SIMC_THREADS: 2
          SIMC_ITERATIONS: 2
        run: tests/run.py ${{ matrix.spec }} -tests trinket --max-profiles-to-use 1

  build-osx:
    name: macos-latest
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3

      - name: Build
        run: make SANITIZE=1 -C engine debug -j 2

      - name: Smoke Test
        if: ${{ github.ref_name == env.MAIN_BRANCH }}
        run: ./engine/simc $SIMC_PROFILE iterations=5 output=/dev/null html=/dev/null json2=/dev/null cleanup_threads=1

  windows-VS:
    name: windows-VS-${{ matrix.vs }}-${{ matrix.arch }}
    runs-on: windows-latest
    strategy:
      matrix:
        vs: [2019]
        arch: [x64, amd64_arm64]
        include:
          - arch: x64
            runSmokeTest: true

    env:
       CMAKE_BUILD_DIR: ${{ github.workspace }}/builddir/
       
    steps:
      - uses: actions/checkout@v3

       # Setup the build machine with the most recent versions of CMake and Ninja. Both are cached if not already: on subsequent runs both will be quickly restored from GitHub cache service.
      - uses: lukka/get-cmake@latest
      
      # On Windows runners, let's ensure to have the Developer Command Prompt environment setup correctly. As used here the Developer Command Prompt created is targeting x64 and using the default the Windows SDK.
      - uses: ilammy/msvc-dev-cmd@v1       
        with:
          arch: ${{ matrix.arch }}

      - name: Generate project files
        run: |
          cmake -B "${{ env.CMAKE_BUILD_DIR }}" -GNinja -DBUILD_GUI=OFF -DCMAKE_BUILD_TYPE=Debug
      
      - name: Build
        run: |
          cmake --build "${{ env.CMAKE_BUILD_DIR }}"

      - name: Smoke Test
        if: ${{ matrix.runSmokeTest && github.ref_name == env.MAIN_BRANCH }}
        run: ${{ env.CMAKE_BUILD_DIR }}/simc.exe $env:SIMC_PROFILE iterations=5 output=nul html=nul json2=nul cleanup_threads=1
